<!DOCTYPE html>

<html>
    <head>
        <title>Ma todolist</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>Ma todolist</h1>

        <h1>Vous êtes dans la chambre</h1>

        <p>Vous venez de git</p>
    </body>
</html>